.takephoto-trigger{border:0 !important;}

.webuploader-container {
	position: relative;
	left:0;
	border:1px solid #ddd;
	border-radius:4px;
	width:100%;	
}
.webuploader-container .add-icon{margin-right:6rem; font-size:3rem !important; width:100%;}
.viewThumb img{width:100%; height:auto;}
.webuploader-element-invisible {
	height: auto
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 10px;
	color: #bbb;
	text-align: center;
	border-radius: 3px;
	padding-left:3rem;
	overflow: hidden;
	font-size:14px;

}
.webuploader-pick-hover {
	background: ;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

.webuploader-container .add-icon {
    color: #ddd;
    font-family: ArialMT,Arial;
    font-size: 40px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
	
	
}
/* color: #ddd;   .J_Takephoto
    font-family: ArialMT,Arial;
    font-size: 48px;
    font-weight: 400;
    height: 48px;
    line-height: 48px;*/
	
	/*opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255) none repeat scroll 0% 0%;*/