/* 初始化 */
html{-webkit-text-size-adjust:none;overflow-y:scroll;}
body,input,button,select,textarea{font:12px/1.5  Microsoft YaHei,Tahoma,Helvetica,'SimSun',sans-serif;color:#444;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,th,td{margin:0;padding:0;border:none}
td,th,div {word-break:break-all;word-wrap:break-word;}
address,cite,dfn,em,var{font-style:normal;font-weight:normal}
table{empty-cells:show;border-spacing:0;}
ul,ol,li{list-style:none}
ul li,ol li{list-style:none;}
img{border:none;}
label{cursor:pointer;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
button,input,select,textarea{font-size:100%;}
hr{display:block;clear:both;*margin-top:-8px !important;*margin-bottom:-8px !important;}
/* input select textarea */
input[type="checkbox"]{vertical-align:middle; margin-top:0;}
input,textarea{padding:6px;border-radius: 4px;font-size: 100%;line-height: 16px\9;*line-height: 18px;*vertical-align: -2px;background-color:#fff;border:1px solid #ccc;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear .2s,box-shadow linear .2s;-moz-transition:border linear .2s,box-shadow linear .2s;-o-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s;margin-right: 3px;}
textarea{resize:none;min-height:60px;line-height: 15px;}
textarea:focus,input:focus,select:focus{border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)}
select{height: 30px;line-height: 30px;background-color: #fff;border: 1px solid #ccc;display: inline-block;padding: 6px;color: #555;margin-top: -2px;padding-top: 4px;*margin-top: -8px;vertical-align: middle;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;font-size: 100%;}

body {background: url('../images/bg.png') no-repeat #2f4158;background-size: cover;position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: -1;}
/* 基础样式 */
.clearfix {_zoom: 1;}
.clearfix:after {content: ".";display: block;visibility: hidden;clear: both;height: 0px;}

.wrap{margin:80px auto 0;box-shadow:0 0 20px #3F3F3F;width:980px;background-color:#fff;}
/* 头部样式 */
.header{height:80px;padding: 0 30px;position:relative;color:#fff;background:#246fa6 url(../images/header.png) 0 0 repeat-x;}
.header-title{float:left;font-size: 30px;line-height: 80px;}
.header-version{float: right;margin-top: 50px;}

/* 步骤 */
.step,.step li em,.step li{background:url(../images/step.png) repeat-x;}
.step{border-bottom:1px solid #dce1e5;height:60px;}
.step li{float:left;height:59px;line-height:60px;width:20%;text-align:center;font-size:14px;color:#6f7885;font-weight:700;}
.step li em{width:32px;height:32px;text-align:center;line-height:32px;display:inline-block;background-position:0 -70px;font-size:20px;color:#fff;font-family:Microsoft Yahei;margin-right:10px;vertical-align:-1px}
.step li.current{background-position:right -106px;background-repeat:no-repeat;color:#246ea5;}
.step li.current em{background-position:-35px -70px;}
.step li.on{background-position:0 -176px;}
.step li.on em{background-position:-70px -70px;}

.pact {box-shadow: 5px 5px 5px #f7f7f7 inset;height: 350px;padding: 10px;overflow: hidden;display: block;overflow-y: scroll;margin: 0 auto;font-size: 12px;line-height: 1.5;outline: none;}
/* 服务器检测/信息输入 */
.server{padding:20px 20px 0 65px;}
.server table{margin-bottom:20px;}
.server td{padding:3px 5px;}
.server .td1{color:#417b9d;font-weight:700;}
.server .input{border:1px solid;border-color:#e3e9ef;padding:3px;width:200px;}
.server .input:hover,
.server .input:focus{border:1px solid #0e85d5;outline:none;}
.gray{color:#bbb;}
.server tr:hover .gray{color:#333;}

/* 正确错误 */
.correct_span,
.error_span{display:block;float:left;width:20px;height:16px;text-indent:-2000em;margin-top: 2px;overflow:hidden;background:url(../images/icon.png) no-repeat;margin-right:5px;}
.error_span{background-position:0 -23px;}
/* 成功提示 */
.success_tip{background:#fff url(../images/complete.png) 210px center no-repeat;font-size: 14px;padding:50px 80px 50px 300px;line-height:2;}
.success_tip a{color:#0166a5;text-decoration:none;font-size: 20px;font-weight: 700;}
.success_tip a:hover{text-decoration:underline;}

/*
===================
操作提示
>>	tips					普通
>>	tips_error		错误
>>	tips_success	正确
>>	tips_loading	加载中
使用方法
	可独立样式使用，亦可与tips组装，例：
	<div class="tips"><span class="tips_error">错误内容</span></div>
	
	可在外出包裹 tips_block 对错误提示进行块级效果展示
===================
*/
.tips,.tips_block span{line-height:25px;padding:0 6px;}
.tips{border:1px solid #faebd2;background:#ffffe9;color:#666;}
.tips_error,.tips_success{color:#cc3333;padding-left:16px;background:url(../images/tips_system.png) -20px 2px no-repeat;display:inline-block;line-height:18px;}	
.tips_success{color:#008800;background-position:0 -19px;}
.tips_loading{color:#cc3333;color:#333333;display:inline-block;line-height:20px;}
/* 数据表写入 */
.install{	box-shadow:5px 5px 5px #f7f7f7 inset;border:1px solid #bdbcbc;width:900px;height:350px;padding:10px;overflow:hidden;display:block;overflow-y:scroll;margin:25px auto;font-size:12px;margin-bottom:22px;outline:none}
.install ul{line-height:1.8;}
/* loading */
.loading{border-radius: 16px;width: 100px;height: 30px;line-height: 30px;text-align: center;background:#000;background-color: rgba(0, 0, 0, 0.5);color: white;position: fixed;_position:absolute;left: 50%;margin-left: -50px;top: 50%;margin-top:-15px;}
.loading span{background:url(../images/pop_loading.gif) 0 center no-repeat;padding-left:24px;}
/* 按钮 */
.btn-box{padding: 10px;text-align: center;border-top: 1px solid #ccc;}
.btn,.btn_old{display:inline-block;width:100px;height:30px;background:url(../images/btn.png) no-repeat;font:bold 14px/30px Arial,"Microsoft Yahei",Simsun;text-decoration:none;color:#fff;margin:0 5px;border:0 none;cursor:pointer;vertical-align:top;}
.btn:hover{background-position:0 -30px;text-decoration:none;}
.btn.error{background-position: 0 -60px;color: #DF0000;}
.btn_old,.btn_old:hover{background-position:0 -60px;color:#999 !important;cursor:default;text-decoration:none;}
/* 底部 */
.footer{text-align:center;padding:15px 0 50px;color:#EEE;}
.footer a{color:#999;text-decoration:none;}